{% extends "baseEtudiant.html" %}

{% block titre %}
    Vos images
{% endblock %}

{% block logo %}
    Vos images
{% endblock %}

{% block body %}
    {% if imageAucune %}
    <p>Vous n'avez aucune image</p>
    {% else %}
    {% for image in images %}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ image.photo.url }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ image.devoir }}, le {{ image.date }}<i class="mdi-navigation-more-vert right"></i></span>
                    <p><a href="{% url 'homework:imageEditionEtudiant' image.devoir %}">Détails</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ image.devoir }}, le {{ image.date }}<i class="mdi-navigation-close right"></i></span>
                    <p>{{ image.description }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
{% endblock %}